.contentMain{
    width: auto;
}
.banner{
    max-width: 1366px;   /* Máximo da largura da imagem */
    width: 100%;
    max-height: 350px;  /* Máximo da altura da imagem */
    min-height: auto;      /* Mínimo da altura, por padrão “auto” */
    background-size:100%;
    background-repeat: no-repeat;
}

.showcase{
    max-width: 330px;
    padding: 18px;
    background-color: rgb(204, 204, 204);
}
.showcase img{
    max-width: 290px;
}